{{yield}}
<div id = "scaleContainer">
  <div class = "scaleColor" id = "scaleUntrained"><strong>Untrained</strong></div>
  <div class = "scaleColor" id = "scaleNovice"><strong>Novice</strong></div>
  <div class = "scaleColor" id = "scaleIntermediate"><strong>Intermediate</strong></div>
  <div class = "scaleColor" id = "scaleAdvanced"><strong>Advanced</strong></div>
  <div class = "scaleColor" id = "scaleElite"><strong>Elite</strong></div>
</div>
