<body>
  {{nav-bar}}

  <div class="container">
    <div class="page-header">
      <h1> About FitTrack </h1>
      <p class="lead"> FitTrack is a fitness tool allowing you to see your weaknesses,
        and compare yourself to others who are at your gym</p>
      </div>
    <p class="lead"><a href="/">Home </a>: Here you can enter your personal stats and view a body diagram
      displaying the strength of your muscle groups relative to strength
      standards from <a href = "http://exrx.com">ExRx </a> </p>

    <p class="lead"><a href="/lifts">Leaderboards </a>: Stats from the main page are anonymously sent to the global
      leaderboards. Here you can sort the records based on the individual stats.</p>

    <p class="lead"><a href="/gyms">Gyms </a>: This page allows you to search for your local gym in our records. If
      it exists you can view the current records and add your own. If your gym
      does not yet exist, you can add it yourself!</p>

    </div>

</body>
