<body>
  {{nav-bar}}
  <div class="container">
    <form>
      <h1> Local Gym Leaderboards </h1>
      Gym Address: {{input}}
      <button {{action "findGym"}}>Find Gym </button>
    </form>
  </div>
</body>
